unpivot을 하는 이뉴는 새로운(다른방향) pivot을 하기 위해 쓰는 것이다.

In [26]:
import pandas as pd

df1 = pd.read_excel("D00EXAMPLE.xlsx", sheet_name=0).set_index("노래")
df1

      A   B  C   D  E
노래
이효리   6   9  7   6  6
양현석   8   9  7  10  9
이승철  10  10  9   6  9
서인영  10   7  7   9  7
김범수   8   9  8  10  8

In [27]:
udf1 = df1.stack().reset_index()
udf1.columns = ["심사자", "참가자", "점수"]
udf1

    심사자 참가자  점수
0   이효리   A   6
1   이효리   B   9
2   이효리   C   7
3   이효리   D   6
4   이효리   E   6
5   양현석   A   8
6   양현석   B   9
7   양현석   C   7
8   양현석   D  10
9   양현석   E   9
10  이승철   A  10
11  이승철   B  10
12  이승철   C   9
13  이승철   D   6
14  이승철   E   9
15  서인영   A  10
16  서인영   B   7
17  서인영   C   7
18  서인영   D   9
19  서인영   E   7
20  김범수   A   8
21  김범수   B   9
22  김범수   C   8
23  김범수   D  10
24  김범수   E   8

In [28]:
df2 = pd.read_excel("D00EXAMPLE.xlsx", sheet_name=3)
df2

   심사자 성별
0  이효리  여
1  양현석  남
2  이승철  남
3  서인영  여
4  김범수  남

In [29]:
pdf1 = udf1.merge(df2, how="left")
pdf1

    심사자 참가자  점수 성별
0   이효리   A   6  여
1   이효리   B   9  여
2   이효리   C   7  여
3   이효리   D   6  여
4   이효리   E   6  여
5   양현석   A   8  남
6   양현석   B   9  남
7   양현석   C   7  남
8   양현석   D  10  남
9   양현석   E   9  남
10  이승철   A  10  남
11  이승철   B  10  남
12  이승철   C   9  남
13  이승철   D   6  남
14  이승철   E   9  남
15  서인영   A  10  여
16  서인영   B   7  여
17  서인영   C   7  여
18  서인영   D   9  여
19  서인영   E   7  여
20  김범수   A   8  남
21  김범수   B   9  남
22  김범수   C   8  남
23  김범수   D  10  남
24  김범수   E   8  남

In [31]:
pdf1 = pdf1.pivot_table("점수", columns="성별", index="참가자", aggfunc="mean")
pdf1.to_clipboard()

In [32]:
# 전체코드
import pandas as pd

df1 = pd.read_excel("D00EXAMPLE.xlsx").set_index("노래")
df2 = pd.read_excel("D00EXAMPLE.xlsx", sheet_name=3)
udf1 = df1.stack().reset_index()
udf1.columns = ["심사자", "참가자", "점수"]
pdf1 = udf1.merge(df2, how="left")
pdf1 = pdf1.pivot_table("점수", index="참가자", columns="성별", aggfunc="mean")
pdf1.to_clipboard()